@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hi</h1>
    <h1 style="color: #0099ff">Everyone のへの</h1>
<p style="color: #cc0066">
  Name: <span style="color: #33cc33">AARON ZACH C. ANZORANDIA</span><br>
        Course & Section: <span style="color:  #33cc33">BSIT32E2</span><br>
        Subject professor: <span style="color:  #33cc33"> Mr. ALAMO, NIÑO FRANCISCO</span>
</p>

    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
