
@{
    ViewData["Title"] = "School";
}

<h1>School</h1>
<h2 style="color: #cc00cc">IT ELECTIVE 3 (FULL STACK Schedule)</h2>

<table>
    <tr>
        <th style="color: #0000ff">Time</th>
        <th style="color: #0000ff">Thursday</th>
        <th style="color: #0000ff">Saturday</th>
    </tr>

    <tr>
        <td style="color: #006666">3:00 - 5:00 PM</td>
        <td>IT ELECTIVE 3 <span style="color: #339933">(FULL STACK)</span><br><span style="color: #ff33cc">(INT1)</span></td>
        <td></td>
    </tr>

    <tr>
        <td style="color: #006666">10:00 - 1:00 PM</td>
        <td></td>
        <td>IT ELECTIVE 3 <span style="color: #339933">(FULL STACK)</span><br><span style="color: #ff33cc">(INT1)</span></td>
    </tr>

</table>


